{% load static %}
<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'dashboard/images/favicon.ico' %}">

<!-- jquery.vectormap css -->
<link href="{% static 'dashboard/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet"
    type="text/css" />

<!-- DataTables -->
<link href="{% static 'dashboard/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'dashboard/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
    rel="stylesheet" type="text/css" />

<!-- Bootstrap Css -->
<link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'dashboard/css/app-rtl.min.css' %}" rel="stylesheet" type="text/css" />