{% extends "layouts/base.html" %}

{% load static %}
{% load dashboard_tags %}

{% block title %}صفحه اصلی{% endblock %}

{% block content %}
{% include "partials/navigation.html" with title="صفحه اصلی" %}

<div class="row">
    <div class="col-xl-7">
        <div class="row">
            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">تعداد کل کاربران</p>
                                <h4 class="mb-0">{{all_users}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class="ri-user-line font-size-24"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-body border-top py-3">
                        <div class="text-truncate">
                            <span class="text-muted ml-2">{{nograde_users}} کاربر بدون پایه تحصیلی</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">تعداد کاربران ۲۴ ساعت گذشته</p>
                                <h4 class="mb-0">{{last24_users}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class="ri-time-line font-size-24"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-top py-3">
                        <div class="text-truncate">
                            {% if last24_users_increase_percent > 0 %}
                            <span class="badge badge-soft-success font-size-11 text" style="direction: ltr;"><i
                                    class="mdi mdi-menu-up"> </i> {{last24_users_increase_percent|absolute}}% </span>
                            {% elif last24_users_increase_percent == 0 %}
                            <span class="badge badge-soft-secondary font-size-11 text" style="direction: ltr;">
                                {{last24_users_increase_percent|absolute}}% </span>
                            {% else %}
                            <span class="badge badge-soft-danger font-size-11 text" style="direction: ltr;"><i
                                    class="mdi mdi-menu-down"> </i> {{last24_users_increase_percent|absolute}}% </span>
                            {% endif %}
                            <span class="text-muted ml-2">نسبت به روز قبل</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">تعداد کاربران ۱ ساعت گذشته</p>
                                <h4 class="mb-0">{{last1_users}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class=" ri-timer-flash-line font-size-24"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-body border-top py-3">
                        <div class="text-truncate">
                            {% if last1_users_increase_percent > 0 %}
                            <span class="badge badge-soft-success font-size-11 text" style="direction: ltr;"><i
                                    class="mdi mdi-menu-up"> </i> {{last1_users_increase_percent|absolute}}% </span>
                            {% elif last1_users_increase_percent == 0 %}
                            <span class="badge badge-soft-secondary font-size-11 text" style="direction: ltr;">
                                {{last1_users_increase_percent|absolute}}% </span>
                            {% else %}
                            <span class="badge badge-soft-danger font-size-11 text" style="direction: ltr;"><i
                                    class="mdi mdi-menu-down"> </i> {{last1_users_increase_percent|absolute}}% </span>
                            {% endif %}
                            <span class="text-muted ml-2">نسبت به ساعت قبل</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2"> سوال ها در روز گذشته</p>
                                <h4 class="mb-0">{{last24_questions_logs}}</h4>
                            </div>
                            <div class="text-success">
                                <i class="  ri-question-line font-size-24"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-body border-top py-3">
                        <div class="text-truncate">
                            {% if previous24_questions_increase_percent > 0 %}
                            <span class="badge badge-soft-success font-size-11 text" style="direction: ltr;"><i
                                    class="mdi mdi-menu-up"> </i> {{previous24_questions_increase_percent|absolute}}% </span>
                            {% elif greeting == 0 %}
                            <span class="badge badge-soft-secondary font-size-11 text" style="direction: ltr;">
                                {{previous24_questions_increase_percent|absolute}}% </span>
                            {% else %}
                            <span class="badge badge-soft-danger font-size-11 text" style="direction: ltr;"><i
                                    class="mdi mdi-menu-down"> </i> {{previous24_questions_increase_percent|absolute}}% </span>
                            {% endif %}
                            <span class="text-muted ml-2">نسبت به روز قبل</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2"> آزمون ساز در روز گذشته</p>
                                <h4 class="mb-0">{{last24_pdfs_logs}}</h4>
                            </div>
                            <div class="text-success">
                                <i class="ri-file-pdf-line font-size-24"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card-body border-top py-3">
                        <div class="text-truncate">
                            {% if previous24_pdfs_increase_percent > 0 %}
                            <span class="badge badge-soft-success font-size-11 text" style="direction: ltr;"><i
                                    class="mdi mdi-menu-up"> </i> {{previous24_pdfs_increase_percent|absolute}}% </span>
                            {% elif greeting == 0 %}
                            <span class="badge badge-soft-secondary font-size-11 text" style="direction: ltr;">
                                {{previous24_pdfs_increase_percent|absolute}}% </span>
                            {% else %}
                            <span class="badge badge-soft-danger font-size-11 text" style="direction: ltr;"><i
                                    class="mdi mdi-menu-down"> </i> {{previous24_pdfs_increase_percent|absolute}}% </span>
                            {% endif %}
                            <span class="text-muted ml-2">نسبت به روز قبل</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2"> هوش مصنوعی در روز گذشته</p>
                                <h4 class="mb-0">{{last24_ai_logs}}</h4>
                            </div>
                            <div class="text-success">
                                <i class="  ri-robot-line font-size-24"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-top py-3">

                    <div class="text-truncate">
                        {% if previous24_ai_increase_percent > 0 %}
                        <span class="badge badge-soft-success font-size-11 text" style="direction: ltr;"><i
                                class="mdi mdi-menu-up"> </i> {{previous24_ai_increase_percent|absolute}}% </span>
                        {% elif greeting == 0 %}
                        <span class="badge badge-soft-secondary font-size-11 text" style="direction: ltr;">
                            {{previous24_ai_increase_percent|absolute}}% </span>
                        {% else %}
                        <span class="badge badge-soft-danger font-size-11 text" style="direction: ltr;"><i
                                class="mdi mdi-menu-down"> </i> {{previous24_ai_increase_percent|absolute}}% </span>
                        {% endif %}
                        <span class="text-muted ml-2">نسبت به روز قبل</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    
            

    <div class="col-xl-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4"> آمار قابلیت های درسیار </h4>

                <div id="donut-chart" class="apex-charts"></div>

                <div class="row">
                    <div class="col-3">
                        <div class="text-center mt-4">
                            <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-primary font-size-10 mr-1"></i> سوال </p>
                            {% with percentage=questions|mul:100|div:logs_count %}
                                <h5>{{ percentage }} %</h5>
                            {% endwith %}

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="text-center mt-4">
                            <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-success font-size-10 mr-1"></i> AI </p>
                            {% with percentage=ai|mul:100|div:logs_count %}
                                <h5>{{ percentage }} %</h5>
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="text-center mt-4">
                            <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-warning font-size-10 mr-1"></i> آزمون ساز </p>
                            {% with percentage=pdfs|mul:100|div:logs_count %}
                                <h5>{{ percentage }} %</h5>
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="text-center mt-4">
                            <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-info font-size-10 mr-1"></i> راهنمایی </p>
                            {% with percentage=hints|mul:100|div:logs_count %}
                                <h5>{{ percentage }} %</h5>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var options = {
      series: [{{questions}}, {{ai}}, {{pdfs}}, {{hints}}],
      chart: { height: 230, type: "donut" },
      labels: ["سوال ", "هوش مصنوعی ", "آزمون ساز ", "راهنمایی "],
      plotOptions: { pie: { donut: { size: "75%" } } },
      dataLabels: { enabled: !1 },
      legend: { show: !1 },
      colors: ["#5664d2", "#1cbb8c", "#eeb902", "#4aa3ff"],
    };
    (chart = new ApexCharts(
      document.querySelector("#donut-chart"),
      options
    )).render();
    
</script>
<script src="{% static 'dashboard/js/app.js' %}"></script>
{% endblock %}